.bla {
  background-image: url(../images/bla2.jpg);
  background-size: cover;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 145px 0 145px;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.section1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 90px;
  margin-right: 100px;
}

.section1 li {
  display: inline;
  margin-right: 40px;
}

.section1 li a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.section1 li a:hover {
  text-decoration: line-through;
}
.section2 li a:hover {
  text-decoration: line-through;
}
.section2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 90px;
  margin-right: 100px;
}

.section2 li {
  display: inline;
  margin-right: 40px;
}

.section2 li a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}

#section3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

#section3 li {
  display: inline;
  margin-right: 40px;
}

#section3 li a {
  text-decoration: none;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}
pppp {
 font-weight: 700;
}

#active {
  text-decoration: line-through;
}

.section1 {
  height: 100vh;
  overflow: hidden;
}

.section1 i {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 40px;
}

.text {
  margin: auto;
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}


.text h1 {
  font-size: 70px;
  font-weight: 300;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: black;

}
.text h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #bca2a6;
}



hr {
  width: 300px;
}

#grene {
  background-size: cover;
}

#section3 {
  height: 100vh;
}

.citat {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  /* margin-left: 25%; */
}
.citat2 {
  margin-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: row;
  /* margin-right: 25%; */
}
.contact h2 {
  margin: 0;
  font-weight: 400;
}
.contact img {
  flex: 1;
}
.contact .info {
  flex: 2;
}
.info hr {
  width: 100%;
}
.info{
    margin-left: 5%;
}


#profilbillede {
  width: 30%;
  height: 30%;
}

footer {
  height: 25vh;
  color: black;
  background: white;
  margin:0;
  text-align: center;
  opacity: .8;
}

footer p {
  padding: 0;
  padding-top: 40px;
  margin: 0;

}

.streg {
  width: 100%;
}

footer i {
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 0;
  color: black;
  margin-right: 20px;
  cursor: pointer;
}

footer i:last-child {
  margin-right: 0;
}

#section4 {
  height: auto;
  overflow: hidden;
}

.flexx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.box {
  width: 400px;
  height: 400px;
  background: black;
}

#projects {
  height: auto;
  margin: auto;
  display: block;
  overflow: hidden;
  width: 100%;
}

#projects h2 {
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.boxes {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 80px;
  flex-flow: wrap;
  margin-bottom: 60px;
}

.box {
  height: 450px;
  width: 350px;
  background-image: url(../images/visitkorta.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
  flex-flow: wrap;
  margin-top: 50px
}
.box2 {
  height: 450px;
  width: 350px;
  background-image: url(../images/Ikke-navngivet-1.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
  flex-flow: wrap;
  margin-top: 50px
}
.box3 {
  height: 450px;
  width: 350px;
  background-image: url(../images/vrogum.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
  flex-flow: wrap;
  margin-top: 50px
}
.box4 {
  height: 450px;
  width: 350px;
  background-image: url(../images/artofmakeup.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
  flex-flow: wrap;
  margin-top: 50px
}
.box5 {
  height: 450px;
  width: 350px;
  background-image: url(../images/Ikke-angivet-2.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
  flex-flow: wrap;
  margin-top: 50px
}
.box6 {
  height: 450px;
  width: 350px;
  background-image: url(../images/elle.png);
  background-size: contain;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1);
  transition: all 0.5s;
  flex-flow: wrap;
  margin-top: 50px
}

.box:hover {
  transform: scale(0.95);
}
.box2:hover {
  transform: scale(0.95);
}
.box3:hover {
  transform: scale(0.95);
}
.box4:hover {
  transform: scale(0.95);
}

.description {
  background: white;
  width: 350px;
  height: 150px;
  margin-top: 300px;
}
.description h3 {
  padding: 10px 0 0 10px;
}
.description p {
  padding-left: 10px;
}
.description button {
  margin: auto;
  display: block;
  margin-top: 30px;
  border: none;
  background: white;
  outline: none;
}


/* background2 */
.background2 {
  height: 55vh;
  background-image: url(../img/stairs.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
