.bla {
  background-image: url(../images/bla2.jpg);
  background-size: cover;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}



#section1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 90px;
  margin-right: 100px;
}

#section1 li {
  display: inline;
  margin-right: 40px;
}

#section1 li a {
  text-decoration: none;
  font-size: 20px;
  color: grey;
}
#section2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 90px;
  margin-right: 100px;
}

#section2 li {
  display: inline;
  margin-right: 40px;
}

#section2 li a {
  text-decoration: none;
  font-size: 20px;
  color: grey;
}

#section3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 100px;
}

#section3 li {
  display: inline;
  margin-right: 40px;
}

#section3 li a {
  text-decoration: none;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}
pppp {
 font-weight: 700;
}

.active {
  text-decoration: line-through;
}

#section1 {
  height: 100vh;
  overflow: hidden;
}

#section1 i {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 40px;
}

.text {
  margin: auto;
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}


.text h1 {
  font-size: 70px;
  font-weight: 300;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: black;

}
.text h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #bca2a6;
}

hr {
  width: 300px;
}

#grene {
  background-size: cover;
}

#section3 {
  height: 100vh;
}

.citat {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  margin-left: 25%;
}
.citat2 {
  margin-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-right: 25%;
}
.contact h2 {
  margin: 0;
  font-weight: 400;
}
.contact img {
  flex: 1;
}
.contact .info {
  flex: 2;
}
.info hr {
  width: 100%;
}
.info{
    margin-left: 5%;
}


#profilbillede {
  width: 30%;
  height: 30%;
}

footer {
  height: 25vh;
  color: white;
  background: #d3b6ae;
  margin:0;
  text-align: center;
  opacity: .8;
}

footer p {
  padding: 0;
  padding-top: 40px;
  margin: 0;
}

footer i {
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 0;
  color: black;
  margin-right: 20px;
  cursor: pointer;
}

footer i:last-child {
  margin-right: 0;
}

.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text2 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#section4 {
  height: 50vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
